:root {
  --primary-text-color: #212121;
  --acent-color: #2196F3;
  --secondary-texy-color:#757575;
  --primary-fon-color: #ffffff;
  --secondary-fon-col: #F5F4FA;
  --darc-fon-color:#2F303A;
  --adres-color:rgba(255, 255, 255, 0.6);
  --work-fon-color:#F5F5F5;
  --header-border-color:#ECECEC;
  --color-cards-border: #EEEEEE;
  --background-color-hero: #C4C4C4;
  --border-clients-color: #AFB1B8;
  --bacjground-color-footer-lincs: rgba(255, 255, 255, 0.1);
  --primery-icon-color:#AFB1B8;
  --background-color-img: rgba(47, 48, 58, 0.8);
  --background-color-img-overley:rgba(33, 150, 243, 0.9);
  --background-color-modal-window: rgba(0, 0, 0, 0.2);
  --primary-cubic-bezir: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-padding-bottom: 10px;
  --modal-input-color: rgba(33, 33, 33, 0.2);
}

.input-checkbox__label, .checkbox-style, .footer-social__icon, .client__link, .client, .team-social__link, .position, .item-p, .privileges-item, .main-navigation, .footer-input__button, .button-close {
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.navigation__list,
.authentication__link,
.authentication,
.benefits,
.team__list,
.team-social__item,
.buttons__item,
.portfolio__list,
.list-work,
.address__list,
.client,
.footer-list {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-fon-color);
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__button {
  background-color: var(--acent-color);
  color: var(--primary-fon-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  background: var(--acent-color);
  border-radius: 4px;
  max-width: 216px;
  max-height: 50px;
  padding: 10px 32px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus, .hero__button:active {
  background-color: var(--secondary-fon-col);
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item:not(:first-child) {
  margin-left: 8px;
}

.button {
  font-family: "Roboto", "sans-serif";
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  max-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--acent-color);
  color: var(--primary-fon-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-all {
  width: 73px;
  padding-left: 25px;
  padding-right: 25px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-web {
  width: 125px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-adds {
  width: 112px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-dysain {
  width: 103px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-market {
  width: 130px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button {
  width: 200px;
  height: 50px;
  color: var(--primary-fon-color);
  background-color: var(--acent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover, .form__button:focus {
  background-color: var(--secondary-fon-col);
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  fill: #000000;
  background: var(--primary-link-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}
.button-close:hover {
  fill: var(--acent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input__button {
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--acent-color);
  color: var(--primary-fon-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
  border: none;
}
.footer-input__button:hover, .footer-input__button:focus {
  background-color: var(--secondary-fon-col);
  color: var(--primary-text-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input__button:hover .footer-input__icon-svg, .footer-input__button:focus .footer-input__icon-svg {
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", "sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
  margin-right: 93px;
}

.logo-web {
  color: var(--acent-color);
}

.logo__footer {
  font-family: "Raleway", "sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--primary-fon-color);
  text-decoration: none;
  display: inline-block;
}
.logo__footer {
  margin-bottom: 20px;
}

.header {
  background-color: var(--primary-fon-color);
  border-bottom: 1px solid var(--header-border-color);
}

.main-navigation {
  justify-content: center;
}

.navigation {
  margin-right: auto;
}
.navigation__list {
  color: var(--primary-text-color);
  display: flex;
}
.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__list .header-link, .navigation__list {
  color: var(--primary-text-color);
}
.navigation__list .header-link:hover, .navigation__list .header-link:focus {
  color: var(--acent-color);
}
.navigation__list .header-link.current {
  color: var(--acent-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication {
  display: flex;
}
.authentication .header-link, .authentication {
  color: var(--secondary-texy-color);
}
.authentication .header-link:hover, .authentication .header-link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}
.authentication__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__item + .authentication__item {
  margin-left: 30px;
}

.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent-color);
}

.effect {
  position: relative;
}
.effect.after:hover::after {
  transform: scaleX(1);
}
.effect.after::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--acent-color);
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.effect:hover::after {
  transform: scaleX(1);
}
.effect.after:hover::after {
  transform: scaleX(1);
}
.effect:hover::after, .effect:focus::after {
  display: inline-block;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--darc-fon-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.section .hero {
  padding: 0;
}

.hero__title {
  color: var(--primary-fon-color);
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  display: flex;
}
.benefits .benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__item {
  width: 270px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: var(--primary-padding-bottom);
}

.benefits__paragraph {
  color: var(--secondary-texy-color);
}

.privileges-item {
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: var(--secondary-fon-col);
  border-radius: 4px;
}

.nopadding {
  padding-top: 0px;
}

.section-work-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.list-work {
  display: flex;
}
.list-work .item-do {
  margin-right: 30px;
}
.list-work .item-do:last-child {
  margin-right: 0;
}

.img-item,
.team-picks {
  display: block;
  width: 100%;
  height: auto;
}

.paragraph-item {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-fon-color);
}

.item-do {
  position: relative;
}

.item-p {
  width: 100%;
  height: 70px;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.item-div-img::after {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.section-team {
  background-color: var(--secondary-fon-col);
}

.team {
  display: flex;
  justify-content: center;
}
.team .team__list:not(:last-child) {
  margin-right: 30px;
}

.team__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-fon-color);
}

.team__picks {
  margin-bottom: 30px;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--primary-padding-bottom);
}

.team__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-texy-color);
  margin-bottom: 16px;
}

.position {
  justify-content: center;
  padding-bottom: 30px;
}

.team-social__item {
  width: 44px;
  height: 44px;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:focus, .team-social__link:hover {
  background-color: var(--acent-color);
}
.team-social__link:hover .team-social__icon {
  fill: var(--primary-fon-color);
}
.team-social__link:focus .team-social__icon {
  fill: var(--primary-fon-color);
}

.team-social__icon {
  fill: var(--primery-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  justify-content: center;
}

.client__item {
  width: 170px;
  height: 92px;
}
.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover {
  border: 1px solid var(--acent-color);
}
.client__link:focus {
  border: 1px solid var(--acent-color);
}
.client__link:hover .client__icon {
  fill: var(--acent-color);
}
.client__link:focus .client__icon {
  fill: var(--acent-color);
}
.client__link:hover {
  border-radius: 4px;
  fill: var(--acent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: var(--primery-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--darc-fon-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item > .logo__footer {
  margin-bottom: 20px;
}

.address__list > li:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  width: 231px;
}

.address-item {
  color: var(--primary-fon-color);
  text-decoration: none;
}

.address__items {
  color: var(--adres-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.address__items:hover, .address__items:focus {
  color: var(--acent-color);
}

.footer-social__paragraph {
  color: var(--secondary-fon-col);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social__item {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-fon-color);
  background-color: var(--bacjground-color-footer-lincs);
  border-radius: 50%;
}

.footer-social__icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  fill: var(--primary-fon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon:hover {
  background-color: var(--acent-color);
}
.footer-social__icon:focus {
  background-color: var(--acent-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-item {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.adress-div {
  display: inline-block;
  margin-right: 70px;
}

.footer-input {
  margin-left: 93px;
}

.footer-input__paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-fon-color);
  margin-bottom: 20px;
}

.combination {
  display: flex;
}

.input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--darc-fon-color);
}
.input:hover {
  border: 1px solid var(--acent-color);
}

.footer-social__list {
  display: flex;
}

input[placeholder] {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: var(--secondary-texy-color);
}

.footer-input__icon-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-fon-color);
}

.footer-input__span {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__list {
  width: 370px;
  height: 405px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__list:nth-child(3n) {
  margin-right: 0;
}
.portfolio__list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio-overlay__paragraph, .portfolio__link:focus .portfolio-overlay__paragraph {
  transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  display: block;
}

.portfolio-overlay__paragraph {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-fon-color);
  background-color: var(--background-color-img-overley);
  padding: 63px 24px;
  height: 101%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards {
  display: block;
  border: 1px solid var(--color-cards-border);
  border-top: none;
  width: 370px;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.cards__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.cards__paragraph {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-texy-color);
}

.portfolio-list {
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-modal-window);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background: var(--primary-fon-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: visible;
}
.backdrop.is-hidden.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.button-close__icon {
  width: 18px;
  height: 18px;
}

.form {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  justify-content: center;
  text-align: center;
}

.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.form__group {
  margin-bottom: 10px;
}

.label {
  display: flex;
  align-items: left;
  color: var(--secondary-texy-color);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.position-icon {
  position: relative;
}

.input-style {
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  left: 576px;
  top: 382px;
  padding-left: 42px;
}
.input-style:focus-visible {
  border-color: var(--acent-color);
}
.input-style:focus-within {
  border-color: var(--acent-color);
}
.input-style:focus-within + svg {
  fill: var(--acent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--acent-color);
}

.input-style__input-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.style-area {
  resize: none;
  margin: 0px;
  -moz-column-count: unset;
       column-count: unset;
  margin-bottom: 14px;
}

.label__text-area {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  padding: 12px 16px;
}
.label__text-area:focus-within {
  border: 1px solid var(--acent-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea [placeholder] {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-style {
  justify-content: center;
  margin-bottom: 30px;
}

.input-checkbox__label {
  border: none;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.input-checkbox__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.linc-conditions {
  color: var(--acent-color);
  margin-left: 7px;
}

.input-checkbox:checked + label::before {
  border: none;
  background-color: var(--primary-text-color);
  background-image: url(../images/icon\ check.svg);
}/*# sourceMappingURL=main.css.map */