  @import './utils/vars';
  @import './components/container';
  @import './base/reset';
  @import './components/section';
  @import './base/common';
  @import './layouts/header';
  @import './components/btn';
  @import './layouts/hero';
  @import './layouts/benefits';
  @import './layouts/services';
  @import './layouts/team';
  @import './layouts/customers';
  @import './layouts/footer';
  
  
  
  /* --------Портфоліо--------- */
  .pic-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    
  }
  .pic-paragraph {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-texy-color);  
  }
  
  .link-content:hover .paragraph-overley,
  .link-content:focus .paragraph-overley
  {
    transform: translateY(0);
  }
  
  .paragraph-overley {
    position: absolute;
    top: 0;
    
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
    background-color: var(--background-color-img-overley);
    padding: 63px 24px;
    height: 101%;
  
    transform: translateY(100%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  
  .portfolio-overlay-div {
    position: relative;
    overflow: hidden;
  
  }
  
  
  /* --------Універсальні--------- */
  
  
  
  
  .port {
    border: 1px solid var(--header-border-color);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .pic-list {
    display: flex;
    flex-wrap: wrap;       
  }
  
  .photos-list {
    width: 370px;
    height: 405px;
    margin-right: 30px;
    margin-bottom: 30px;
    
  }
  
  .photos-list:nth-child(3n) {
    margin-right: 0;
    
  }
  .photos-list:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  
  
  .link-content:hover {
    box-shadow: 0px 1px 1px
   rgba(0, 0, 0, 0.12), 0px 4px 4px
   rgba(0, 0, 0, 0.06), 1px 4px 6px
   rgba(0, 0, 0, 0.16);
  }
  
  
  .link-content:focus  {
    box-shadow: 0px 1px 1px
   rgba(0, 0, 0, 0.12), 0px 4px 4px
   rgba(0, 0, 0, 0.06), 1px 4px 6px
   rgba(0, 0, 0, 0.16);
  }
  
  
  .portfolio-list {
    justify-content: center;
  }
  
  
  .cards {
    display: block;
    border: 1px solid var(--color-cards-border);
    border-top: none;
    width: 370px;
    height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .cards> .pic-title {  
    margin-bottom: 4px;
  }
  
  .link-content {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    
    transition-property: box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: linear; 
  }
  
  
  /* --------Модальне вікно--------- */
  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-modal-window);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 581px;
    width: 528px;
    background: var(--primary-fon-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) ;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: visible;
  }
  
  
  
  
  .icons-svg-char {
    width: 18px;
    height: 18px;
  }
  
  .form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
  }
  
  .input-style {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    left: 576px;
    top: 382px; 
  
    padding-left: 42px;
  } 
  
  .input-style:focus-visible {
    border-color: var(--acent-color);
  }
  .input-style:focus-within {
    border-color: var(--acent-color);
  
  } 
  
  .input-style:focus-within +svg{
    fill:var(--acent-color);
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--acent-color);
  } 
  
  
  .text-area:focus-within {
    border: 1px solid var(--acent-color);
  
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  
  .form-div-group {
    margin-bottom: 10px;
  }
  
  .modal-style-area {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 41px;
    padding-right: 39px;
   justify-content: center;
   text-align: center;
  }
  
  
  
  .label-style {
    display: flex;
    align-items: left;
    color: var(--secondary-texy-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
  } 
  
  .style-area {
    resize:none;
    margin: 0px;
    column-count:unset;
    margin-bottom: 14px;
  }
  .text-area {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px; 
  } 
  
  
  textarea [placeholder] {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  
  .checkbox-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .linc-conditions {
    color: var(--acent-color);
    margin-left: 7px;
  }
  
  
  .label-s::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
  }
  .label-s {
    display: flex;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  
  .input-checkbox:checked + label::before {
   border: none;
    background-color: #212121;
    background-image: url(../images/icon\ check.svg);
  }
  .input-svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top:50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  
  .div-position-icon {
    position: relative;
  }