h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
  }
  
  .navigation__list,
  .authentication__link,
  .authentication,
  .list-benefits,
  .team-list,
  .buttons-filter,
  .photos-list,
  .list-work,
  .site-nav-footer,
  .list-client,
  .footer-list
  {
    list-style: none;
  }
  ul {
    padding: 0;
    margin: 0;
   
  
  }