body {
    font-family: "Roboto", "sans-serif";
    color: var(--primary-text-color);
    background-color: var(--primary-fon-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  