:root {
    --primary-text-color: #212121;
    --acent-color: #2196F3;
    --secondary-texy-color:#757575;
    --primary-fon-color: #ffffff;
    --secondary-fon-col: #F5F4FA;
    --darc-fon-color:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.6);
    --work-fon-color:#F5F5F5;
    --header-border-color:#ECECEC;
    --color-cards-border: #EEEEEE;
    --background-color-hero: #C4C4C4;
    --border-clients-color: #AFB1B8;
    --bacjground-color-footer-lincs: rgba(255, 255, 255, 0.1);
    --primery-icon-color:#AFB1B8;
    --background-color-img: rgba(47, 48, 58, 0.8);
    --background-color-img-overley:rgba(33, 150, 243, 0.9);
    --background-color-modal-window: rgba(0, 0, 0, 0.2);
    --primary-cubic-bezir: cubic-bezier(0.4, 0, 0.2, 1);  
    --primary-padding-bottom: 10px;
    --modal-input-color: rgba(33, 33, 33, 0.2);
    
    
  
  }