
  .client {
    @extend %flex-align;
    justify-content: center;
  }

  .client__item {
    width: 170px;
    height: 92px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .client__link {
    width: 100%;
    height: 100%;  
    @extend %flex-align;
    padding:  16px 32px;
    border: 1px solid var(--border-clients-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid var(--acent-color);
    }
    &:focus {
      border: 1px solid var(--acent-color);
    }
    &:hover .client__icon {
      fill: var(--acent-color);
    }
    &:focus .client__icon {
      fill: var(--acent-color);
    }
    &:hover  {
      border-radius: 4px;
      fill: var(--acent-color);
    }
    }
  
  .client__icon {
    width: 106px;
    height: 60px;  
    fill: var(--primery-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }