.footer {
    background-color: var(--darc-fon-color); 
    padding-top: 60px;
    padding-bottom: 60px; 
  }
  
  .footer-item > .logo-footer {
    margin-bottom: 20px; 
  }
  
  .logo-footer {
    font-family: 'Raleway', 'sans-serif';
    @include font($fs:26, $fw:700, $lh:31, $ls:0.03em);
    color: var(--primary-fon-color);
    text-decoration: none;
    display: inline-block;   
  }
  
  .site-nav-footer > li:not(:last-child) {
    margin-bottom: 9px;  
  }
  
  .address {
    font-style: normal;
    width: 231px;  
    
  }
  .address-item {
    color: var(--primary-fon-color);
    text-decoration: none;
  }
  
  .address-items {
    color: var(--adres-color); 
    text-decoration: none;   
    transition-property: color ;
    transition-duration: 250ms;
    transition-timing-function: linear;
    &:hover,
    &:focus {
    color: var(--acent-color);
  }
  }
  
  .footer-paragraph {
    color:var(--secondary-fon-col);
    @include font($fs:14, $fw:700, $lh:24, $ls:0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .footer-soc-lincs {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 44px;
    height: 44px;
    fill: var(--primary-fon-color);
    background-color:var(--bacjground-color-footer-lincs);
    border-radius: 50%;
  }
  
  .footer-icon-linc {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @extend %flex-align;
    justify-content: center;
    
    fill: var(--primary-fon-color);
    transition-property: background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: var(--acent-color);
    }
    &:focus {
      background-color: var(--acent-color);
    }
  }
  
  .footer-soc-lincs:not(:last-child) {
    margin-right: 10px;
    }
  
  .footer-item {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  
  .logo-footer {
    margin-bottom: 20px;
  }
  
  .div-fot {
    display: inline-block;
    & .fot-portfolio {
      margin-bottom: 30px;
    }
  }
  
  .adress-div {
    display: inline-block;
    margin-right: 70px;
  }
  
  .footer-input-area {
    margin-left: 93px;
  }
  
  .paragraph-input {
    @include font($fs:14, $fw:700, $lh:16, $ls:0.03em);
    text-transform: uppercase;
    color: var(--primary-fon-color);
    margin-bottom: 20px;
  }
  .input-footer {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--darc-fon-color);
    &:hover {
    border: 1px solid var(--acent-color);
    }
  }
  
  .footer-list {
    display: flex;
  }

  input[placeholder] {
    @include font($fs:16, $fw:400, $lh:20, $ls:0.03em);
    padding: 15px 16px;
    color: var(--secondary-texy-color);
  }
  
  .icon-svg-button {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primary-fon-color);
  }
  
  .line-fo {
    display: flex;
  }
  
  .span-foot {
    @include font($fs:16, $fw:700, $lh:30, $ls:0.06em);
    text-align: center;
  }