.section-team {
    background-color: var(--secondary-fon-col);        
  }
  
  .team {
    display: flex;
    justify-content: center;
    & .team__list:not(:last-child) {
    margin-right: 30px;
    }
  }

  .team__list {
    box-shadow: 
    0px 1px 3px
    rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-fon-color);
  }

  .team__picks {
    margin-bottom: 30px;
  }

  .team__title {
    @include font($fs:16, $fw:500, $lh:19, $ls:0.03em);
    text-align: center;
    margin-bottom:var(--primary-padding-bottom);    
  }

  .team__paragraph {
    @include font($fs:16, $fw:400, $lh:19, $ls:0.03em);
    text-align: center;
    color: var(--secondary-texy-color); 
    margin-bottom: 16px;
  }
  
  .position {
    @extend %flex-align;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .team-social__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
  margin-right: 10px;
    }
  }
  
  .team-social__link  {
    width: 100%;
    height: 100%;  
    @extend %flex-align;
    border-radius: 50%;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:focus,
    &:hover {
    background-color: var(--acent-color);
  } 
    &:hover .team-social__icon {
    fill: var(--primary-fon-color);
  }
    &:focus .team-social__icon {
    fill: var(--primary-fon-color);
  }
  }
  
  .team-social__icon {
    fill: var(--primery-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }